@import './tab-shared.css';

.gt-request-tab {
  padding: var(--px-8) var(--px-12);
  display: flex;
  flex-direction: column;
  gap: var(--px-16);
}

.gt-raw-body-toggle {
  margin-left: auto;
}

.gt-persisted-hash {
  margin: 0;
  color: hsl(var(--color-neutral));
  font-style: italic;
  font-size: var(--font-size-body);
}
