html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.graphiqltab-root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: hsl(var(--color-base));
}
